.App-container{
    .meal-header{
        text-align: center;
        .get-btn{
            background-color: #8E2657;
            color: #fff;
            padding: 10px 20px;
            border-radius: 4px;
            display: inline-block;
            cursor: pointer;
            &:hover{
                opacity: 0.8;
            }
        }
    }
    .meal-container{
        // background-color: #ccc;
        display: flex;
        flex-flow: wrap;
        max-width: 1000px;
        margin: auto;
        .meal-img{
            @media (min-width: 750px) {
                max-width: 40%;
            }
            width: 100%;
            &>img{
                width: 100%;
            }
        }
        .meal-description{
            @media (min-width: 750px) {
                max-width: 60%;
            }
            width: 100%;
            padding: 0 15px;
            .meal-tags{
                &>span{
                    padding-right: 15px;
                }
            }
        }
        .meal-ingredients{
            max-width: 100%;
            width: 100%;
        }
        iframe{
            margin: auto;
            width: 100%;
        }
        .video-responsive {
            overflow: hidden;
            padding-bottom: 56.25%;
            position: relative;
            height: 0;
            iframe {
                left: 0;
                top: 0;
                height: 100%;
                width: 100%;
                position: absolute;
            }
        }
          
    }
}